@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter', sans-serif;
}

.Card {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
}

.card-ctn {
    width: 1200px;
    height: 446px;
    text-align: center;
    display: flex;
    background-color: hsl(244, 38%, 16%);
    border-radius: 8px;
}

h2 {
    color: #fff;
}

h1 {
    font-weight: 700;
    font-size: 2.3em;
}

span {
    color: hsl(277, 64%, 61%);
}

.header p {
    color: hsla(0, 0%, 100%, 0.6);
    line-height: 1.7em;
    font-size: 0.9em;
    margin-top: -10px;
    font-weight: lighter
}

.img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img/image-header-desktop.jpg);
    background-color: hsl(277, 64%, 61%);
    background-blend-mode: multiply;
    opacity: 100%;
    width: 600px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.text {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 25px;
}

.text .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    margin-left: 5em;
}

.stats {
    display: flex;
    justify-self: center;
    align-self: center;
}

.stats .nav {
    margin-right: 90px;
    width: 350px;
    margin-top: 35px;
    display: flex;
    flex-flow: row;
    align-self: center;
    justify-content: space-between;
}

.stat {
    color: hsla(0, 0%, 100%, 0.6);
}

.stat h2 {
    margin-bottom: -10px;
}

.stat p {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.9em;
}